/* @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap");
* {
  --primary-color: #84ac3c;
}

.swiper {
  width: calc(100vw - 100px);
  height: calc(100vh - 150px);
  cursor: grab;
}

.swiper:visited {
  cursor: grabbing;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-image {
  width: 88%;
  height: auto;
}

.item-title {
  font-family: Calligraffitti;
  font-size: 5em;
  color: white;
  /* color: var(--primary-color); */
  /* position: absolute;
  top: 0;
  left: 0; */
}

.swiper-half {
  width: 50%;
}

.item-description {
  color: white;
  font-size: 22px;
  width: 100%;
  text-align: justify;
}

#item-btn {
  margin-top: 25px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  color: var(--primary-color);
  padding: 5px;
  cursor: pointer;
}

.btn-text {
  margin-right: 10px;
}

.swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  border: var(--primary-color) solid 1px;
  background-color: transparent;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

@media (max-width: 980px) {
  .item-title {
    font-size: 50px;
  }
}

@media (max-width: 768px) {
  .swiper-slide {
    flex-direction: column;
    margin-right: 30px;
  }
  .swiper-slide:last-child {
    margin-right: 0px;
  }
  .swiper-half {
    width: 100%;
  }
  .item-title {
    font-size: 50px;
  }
  .item-description {
    font-size: 20px;
  }
}
